@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  scrollbar-gutter: stable;
}

header {
  max-width: 100%;
  height: 55px;
  background: #0E0E0E;
}

.header {
  max-width: 100%;
  height: 55px;
  background: #0E0E0E;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
  text-align: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.header__menu_stil a {
  color: #FFF;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__contact_stil {
  font-family: "Poppins";
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__img {
  background-image: url(../img/header/picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 730px;
}
.header__h2 {
  color: #FFF;
  font-family: "Poppins";
  font-size: 81px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 276px;
}
.header__p {
  color: #FFF;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__burger {
  display: none;
}

.menu {
  display: none;
}

.img {
  width: 100%;
}

.section__h2 {
  color: #000;
  font-family: "Poppins";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 87px;
}
.carousel {
  margin-top: 93px;
  margin-bottom: 50px;
}
.carousel__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.carousel-control-next, .carousel-control-prev {
  background-color: rgba(93, 92, 92, 0.7);
  width: 4%;
}

.button__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8%;
}
.button__p {
  color: #FFF;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-top: 12px;
}

.button {
  width: 148px;
  height: 44px;
  border: none;
  background: #000;
}

.form-control {
  width: 324%;
}

.stil {
  color: #000;
  font-family: "Poppins";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__groupStil {
  width: 150%;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #72757a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3d3f42;
  --bs-btn-hover-border-color: #a0a0a0;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b7b7b;
  --bs-btn-active-border-color: #aaaaaa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a3a3a3;
  --bs-btn-disabled-border-color: #888888;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.section2 {
  width: 100%;
  background: #F6F6F6;
}
.section2__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2__stil {
  color: #000;
  font-family: "Poppins";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 69px;
  margin-bottom: 59px;
}

.Inspiration__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.Inspiration__flex_stil {
  color: #000;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
.Inspiration__flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Inspiration__button {
  width: 148px;
  height: 44px;
  background: #000;
}
.Inspiration__button_p {
  color: #FFF;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 11px;
}

.button__flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 10%;
}

.cursor {
  cursor: pointer;
}

.section3 {
  width: 100%;
  height: 211px;
}

.cooperation__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4%;
}
.cooperation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10.5rem;
     -moz-column-gap: 10.5rem;
          column-gap: 10.5rem;
}
.section4 {
  width: 100%;
  background: #F6F6F6;
}

.FAQ__stil {
  color: #000;
  font-family: "Poppins";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.acrdn {
  margin-bottom: 15%;
}

.footer {
  width: 100%;
  height: 330px;
  background: #000;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
  margin-top: 10%;
}
.footer__flex_stil a {
  color: #FFF;
  font-family: "Poppins";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__flex_p {
  color: #7D7D7D;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10%;
}

@media (max-width: 1400px) {
  .Inspiration__flex {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .Inspiration__flex2 {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .section3 {
    height: 180px;
  }
  .cooperation__item {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }
}
@media (max-width: 1400px) {
  .cooperation__item {
    -webkit-column-gap: 6.5rem;
       -moz-column-gap: 6.5rem;
            column-gap: 6.5rem;
  }
}
@media (max-width: 993px) {
  .header__menu_stil a {
    font-size: 13px;
  }
  .header__contact {
    margin-top: 5px;
  }
  .header__contact_stil {
    font-size: 12px;
  }
  .header__img {
    height: 608px;
  }
  .header__h2 {
    font-size: 61px;
    margin-top: 30%;
  }
  .header__p {
    font-size: 19px;
  }
  .section__h2 {
    font-size: 50px;
  }
  .section2__stil {
    font-size: 50px;
  }
  .photo3 {
    display: none;
  }
  .photo8 {
    display: none;
  }
  .cursor.curs4 {
    display: none;
  }
  .cursor.curs10 {
    display: none;
  }
  .section3 {
    height: 130px;
  }
  .cooperation__item {
    -webkit-column-gap: 4.5rem;
       -moz-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }
  .FAQ__stil {
    font-size: 50px;
  }
  .footer__flex_stil a {
    font-size: 16px;
  }
  .footer__flex_p {
    font-size: 13px;
  }
}
@media (max-width: 769px) {
  .headerMobil {
    max-width: 100%;
    height: 107px;
    background: #0E0E0E;
  }
  .header__menu {
    display: none;
  }
  .menu {
    display: none;
    position: fixed; /* Я поменял absolute на fixed, чтобы меню оставалось на месте при прокрутке страницы */
    right: 0;
    top: 0;
    width: 350px;
    background-color: #0E0E0E;
    -webkit-transition: right 0.3s ease;
    transition: right 0.3s ease; /* Добавил анимацию для плавного открытия/закрытия меню */
  }
  .menu--open {
    display: block;
    padding: 20px;
    right: 0; /* Изменил на 0, чтобы показать меню при добавлении класса menu--open */
  }
  .menu__list {
    list-style: none; /* Убрал маркеры списка */
    padding: 0;
  }
  .menu__item {
    margin-bottom: 10px; /* Просто для примера, можешь изменить в зависимости от дизайна */
  }
  .menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px;
  }
  .header__burger {
    cursor: pointer; /* Добавил стиль курсора, чтобы указать, что это кликабельный элемент */
  }
  .cross {
    margin-left: 17rem;
  }
  .header__contact {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__img {
    margin-top: 2%;
  }
  .section__p {
    font-size: 13px;
  }
  .cursor.curs5 {
    display: none;
  }
  .cursor.curs9 {
    display: none;
  }
  .form-control {
    width: 101%;
  }
  .input__groupStil {
    width: 101%;
  }
  .Inspiration__flex_stil {
    font-size: 13px;
  }
  .section3 {
    height: 90%;
  }
  .cooperation__item {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  ol, ul {
    padding-left: 0rem;
  }
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1rem;
  }
}
@media (max-width: 500px) {
  .header__img {
    height: 540px;
  }
  .header__h2 {
    font-size: 40px;
  }
  .header__p {
    font-size: 16px;
  }
  .section__h2 {
    font-size: 40px;
  }
  .section__p {
    font-size: 11px;
  }
  .carousel.slide.pointer-event {
    margin-top: 9%;
  }
  .button {
    width: 111px;
    height: 33px;
  }
  .button__p {
    font-size: 12px;
    padding-top: 8px;
  }
  .section2__stil {
    font-size: 40px;
    margin-top: 7%;
  }
  .Inspiration__button {
    width: 111px;
    height: 33px;
  }
  .Inspiration__button_p {
    font-size: 12px;
    padding-top: 7px;
  }
}
@media (max-width: 350px) {
  .header__h2 {
    margin-top: 52%;
  }
}
@media (max-width: 992px) {
  .none {
    display: none;
  }
}
@media (max-width: 768px) {
  .none1 {
    display: none;
  }
}
@media (max-width: 575px) {
  .none2 {
    display: none;
  }
}
@media (max-width: 450px) {
  .rr {
    display: none;
  }
}
@media (max-width: 340px) {
  .section3 {
    height: 69%;
  }
}