.section4 {
    width: 100%;
    background: #F6F6F6;
}

.FAQ {

    &__stil {
        color: #000;
        font-family: "Poppins";
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center; 
        margin-top: 7%;
        margin-bottom: 7%;       
    }
}

.acrdn {
    margin-bottom: 15%;
}
